<h1> All Romantic Dates </h1>

<div>
  <ul>
    <% @romanticdates.each do |romanticdate| %>
      <li> Initiator: <%= link_to romanticdate.initiator.name, user_path(romanticdate.initiator) %> </li>
      <li> Acceptor: <%= link_to romanticdate.acceptor.name, user_path(romanticdate.acceptor) %> </li>
      <li> Activity: <%= link_to romanticdate.activity.name, activity_path(romanticdate.activity)%> </li>
      <li> Outcome: <%= romanticdate.outcome %> </li>
      <br>
    <% end %>
  </ul>
</div>

<%= link_to "All Users", users_path %>