<h1> All Romantic Dates </h1>

<div>
  <ul>
    <% @romanticdates.each do |romanticdate| %>
    <p><%= link_to "Romantic Date", romantic_date_path(romanticdate) %></p>
      <li> Initiator: <%= link_to romanticdate.initiator.name.titleize, user_path(romanticdate.initiator) %> </li>
      <li> Acceptor: <%= link_to romanticdate.acceptor.name.titleize, user_path(romanticdate.acceptor) %> </li>
      <li> Activity: <%= link_to romanticdate.activity.name.titleize, activity_path(romanticdate.activity)%> </li>
      <li> Outcome: <%= romanticdate.outcome %> </li>
      <br>
    <% end %>
  </ul>
</div>
