<h2> <%= @user.name.capitalize %> </h2>

<div>
  <ul>
    <li> Hobbies: <%= @user.hobby %> </li>
    <li>Myers-Brigg Personality: <%= @user.personality %> </li>
    <li>Zodiac Sign: <%= @user.sign %> </li>
  </ul>
 </div>

<%= link_to "Edit User Page", edit_user_path %>
<br>
<%= link_to "Delete User", user_path(@user),
            method: "delete", 
            data: {:confirm => "ARE YOU SURE? NO MORE DATES?"} %>
            <br>


