<h2> Edit Date Activity </h2>
<%= form_for @activity do |f| %>
  <%= f.label :name, "Activity Name:" %>
  <%= f.text_field :name %>
<br>
<br>
  <%= f.label :location, "Location:" %>
  <%= f.text_field :location %>
<br>
<br>
  <%= f.label :description, "Description:" %>
  <%= f.text_field :description %>
<br>
<br>
  <%= f.label :has_meal, "Meal?" %>
  <%= f.select :has_meal, [true, false] %>
<br>
<br>
  <%= f.label :has_alcohol, "Alcohol?" %>
  <%= f.select :has_alcohol, [true, false] %>
<br>
<br>
  <%= f.submit "Submit New Changes" %>
<% end %>