<h2><%= @activity.name.titleize %></h2>

<div>
  <ul>
    <li> Location: <%= @activity.location.titleize %> </li>
    <li> Description: <%= @activity.description %>  </li>
    <li> Has Meal? <%= @activity.has_meal %>  </li>
    <li> Has Alcohol? <%= @activity.has_alcohol%>  </li>
  </ul>
</div>


<%= link_to "Edit Activity", edit_activity_path(@activity) %>
<br>
<%= link_to "Delete Activity", activity_path(@activity),
            method: "delete",
            data: {:confirm => "ARE YOU SURE?"} %>
            <br>
